$black-color: #000000;
$white-color: #ffffff;
$ag-grid-border-color: #d9dcde;
$ag-grid-outer-border-color: #bdc3c7;
$ag-grid-header-color: #f5f7f7;
$toolbar-item-border-color: rgba(255, 255, 255, 0.5);
$weather-forecast-label-color: rgba(0, 0, 0, 0.6);
$radio-group-label-color: rgba(0, 0, 0, 0.6);
$material-disabled-checkbox-color: #b0b0b0;
$input-placeholder-color: #757575;
$grid-custom-overlay-color: rgba(255, 255, 255, 0.7);

$primary-palette-colors: (
  50: #e6eaed,
  100: #cfd7dc,
  200: #adbbc4,
  300: #8a9fab,
  400: #586f7b,
  500: #485a64,
  600: #38454d,
  700: #2f3b42,
  800: #273136,
  900: #1f272b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$secondary-palette-colors: (
  50: #fff2e5,
  100: #fedebe,
  200: #feca97,
  300: #fdb670,
  400: #fda34a,
  500: #fc8f23,
  600: #f47b03,
  700: #e17203,
  800: #ce6803,
  900: #a75402,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$red-palette-colors: (
  50: #fae8e7,
  100: #f3c8c7,
  200: #e89997,
  300: #e17a76,
  400: #da5a56,
  500: #d33b36,
  600: #b92d29,
  700: #992522,
  800: #791d1a,
  900: #591613,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$secondary2-palette-colors: (
  50: #e9f4f5,
  100: #d2e9ec,
  200: #a6d3d8,
  300: #79bcc5,
  400: #4da6b1,
  500: #20909e,
  600: #1a737e,
  700: #13565f,
  800: #0d3a3f,
  900: #061d20,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$info-palette-colors: (
  50: #dfecf6,
  100: #b1cfe9,
  200: #83b3dc,
  300: #5597d0,
  400: #468ecb,
  500: #337ab7,
  600: #2a6698,
  700: #22517a,
  800: #193d5b,
  900: #11283c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$success-palette-colors: (
  50: #e9f5e9,
  100: #c0e3c0,
  200: #97d297,
  300: #6ec06e,
  400: #4aa94a,
  500: #388038,
  600: #2c652c,
  700: #204920,
  800: #142e14,
  900: #0e200e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$warning-palette-colors: (
  50: #fcf0df,
  100: #f9dfba,
  200: #f6cf96,
  300: #f3be72,
  400: #f2b560,
  500: #f0ad4e,
  600: #ed9c2a,
  700: #dd8913,
  800: #b97310,
  900: #945c0d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$grey-palette-colors: (
  50: #f7f7f7,
  100: #ededed,
  200: #dedede,
  300: #cccccc,
  400: #9e9e9e,
  500: #8c8c8c,
  600: #858585,
  700: #545454,
  800: #3b3b3b,
  900: #212121,
  A50: rgba(0, 0, 0, 0.03),
  A100: rgba(0, 0, 0, 0.07),
  A200: rgba(0, 0, 0, 0.13),
  A300: rgba(0, 0, 0, 0.2),
  A400: rgba(0, 0, 0, 0.38),
  A500: rgba(0, 0, 0, 0.45),
  A600: rgba(0, 0, 0, 0.54),
  A700: rgba(0, 0, 0, 0.67),
  A800: rgba(0, 0, 0, 0.77),
  A900: rgba(0, 0, 0, 0.87),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A50: #000000,
    A100: #000000,
    A200: #000000,
    A300: #000000,
    A400: #000000,
    A500: #ffffff,
    A600: #ffffff,
    A700: #ffffff,
    A800: #ffffff,
    A900: #ffffff,
  ),
);
