@import "../../../../../../src/assets/scss/app.palettes.scss";
:host {
  display: flex;
  border: 1px solid $ag-grid-outer-border-color;
  border-bottom: none;
}
::ng-deep mat-button-toggle-group {
  border-radius: 0;
  .mat-button-toggle {
    &:not(:last-child) {
      border-right: 1px solid $white-color;
    }

    &:not(.mat-button-toggle-checked) {
      color: map-get($grey-palette-colors, A700);
      background: map-get($primary-palette-colors, 100);
      &:hover {
        background-color: map-get($primary-palette-colors, 50);
      }
    }

    .mat-button-toggle-label-content {
      line-height: 28px;
      font-size: 14px;
      padding: 0px 6px;
    }
  }

  .mat-button-toggle-checked {
    color: $white-color;
    background: map-get($primary-palette-colors, 500);
  }
}
